@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sniglet');
body {
    background-image: url(../images/breadbackground.jpg);
    background-size: cover;
}
.title, h1, .pagetitle, nav{
    font-family: 'Sniglet',sans-serif;
    color: #e59c09;
    border: 5px solid #e59c09;
    border-radius: 25px;
    background-color: rgb(0, 0, 0, 0.7);
}

h1{
    padding: 25px 0px;
    text-align: center;
    font-size: 4em;
}

.pagetitle{
    padding: 20px 0px;
    text-align: center;
    font-size: 3em;
}

.title {
    width: 30%;
    padding: 5px 20px;
    text-align: center;
    font-size: 2em;
}

.welcome{
     font-size: 20px;  
}

.section {
    font-family: 'Open Sans', sans-serif;
    color: #ffbd3a;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 20px 50px;
    margin: 10px 5px;
    border: 5px solid #ffbd3a;
    border-radius: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    flex: 0 0 auto;
    padding: 10px;
    font-size: 1.4em;
}

a{
    font-family: 'Open Sans', sans-serif;
    color: #edd382; 
}

/*index.html and posts.html styling*/


.description > img{
    width: 50%;
    border: 5px solid #ffbd3a;
}

.section > img{
    width: 50%;
    border: 5px solid #ffbd3a;
}

.post, .section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}

/*aboutme.html styling*/

.aboutme {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
}

/*push image down*/
.aboutme > img {
   margin: 50px 0px;
/*changed width of image to be more friendly for mobile without adding to @media query*/
   width: 100%;
   max-width: 200px;
}

.aboutauthor{
    margin: 0px 30px 0px 70px;

}

/*gallery.html styling*/

.imagegallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



/*add new class for any new pictures to retain gallery image styling*/
.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8 {
   width: 43%;
   /*need to maually set the height*/
   height:30vw;
   border: 5px solid #ffbd3a;
   margin: 20px 0px;
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   display: flex;
}

/*Modify link to relevant posts*/
.subtitle{
    /*Allows text to be visible in front of image*/
    text-shadow:
		-1px -1px 0 #000,
		 1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000;
	align-self: flex-end;
	padding: 15px;
    font-size: 1.5em;
}

/*links for images to use as background*/


.image1 {
    background-image: url("../images/loaf.jpg");

}

.image2 {
    background-image: url("../images/rollingpin.jpg");
}

.image3 {
    background-image: url("../images/sourdough.jpg");
}

.image4 {
    background-image: url("../images/milkbread.jpg");
}

.image5 {
    background-image: url("../images/redbowl.jpg");
}

.image6 {
    background-image: url("../images/milkbread1.jpg");
}

.image7 {
    background-image: url("../images/milkbread2.jpg");
}

.image8 {
    background-image: url("../images/milkbread3.jpg");
}


/*recipes.html styling*/

.recipes > section {

    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    color:#f6a50c;
    border: 5px solid #ffbd3a;
}


.recipes > section a {
    color: #ffbd3a;
}

/*set image as background image to show up in gallery under class name*/

footer{
    background-color: #e59c09;
    font-family: 'Sniglet',sans-serif;
    width:100%;
    padding: 20px 0px;
    position: absolute;
    bottom: -10;
}

/*section for media queries for mobile and tablet*/

@media only screen and (max-width: 600px) {
/*prevent nav links from over crowding*/
nav{
    font-size: 1.2em;
    flex-flow: row wrap;
}

/*increase size of post titles*/
.title {
    width: 80%;
}

/*increase image sizes for visibility in index.html and posts.html*/
.section > img{
    width: 90%
}

.description > img{
    width: 90%;
}


/*decrease gallery.html description font size and padding*/
.subtitle {
    font-size: .8em;
    padding: 10px;
}

/*make aboutme.html description into column and remove margins for better readability*/
.aboutme {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.aboutauthor{
    margin: 0px;
}

/*set width to 100% and increase height for better picture quality on mobile*/
.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8 {
   width: 100%;
   /*need to maually set the height*/
   height:40vw;
   margin: 10px 0px;
}

/*Change margins and padding for recipes.html for better readability*/
.recipes > section {
    margin: 20px 0px;
    border-radius: 20px;
    padding: 10px;
}

} 